<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Chrimata Dashboard</title>
    </head>
    <body>
        <a href="/index">Markets</a> | <a href="/logout">Logout</a>
        <h2>{{request.session.active_user.alias}}'s Dashboard</h2>
        {% if favorites_list %}
        <h3>Favorites:</h3>
            {% for fav in favorites_list %}
                <h4>{{ fav.investment.investment_name}} - {{ fav.investment.investment_info}}</h4>
                <p>Total Gain Loss (Timeline 5years?): {{ fav.investment.total_gain_loss}}</p>
                <p>Total Volatility: {{ fav.investment.total_volatility }}</p>
                <p>Minimum Required Investment: {{ fav.investment.min_investment}}</p>
                <p><button><a href="/remove_favorite/{{fav.investment_id}}">Remove from my Favorites</a></button></p>
            {% endfor %}
            <hr>
        {% endif %}
        <h3>All Other Investments (click button to add to your favorites):</h3>
        {% for i in investments_list %}
            <p><a href="/gold_detail_view">{{i.investment_name}}</a>: {{ i.investment_info}} <button><a href="/add_favorite/{{i.id}}">Add to Your Favorites</a></button></p>

        {% endfor %}
        <hr>
        {% if favorites_list %}
        <h3>Favorited Investments Analysis:</h3>
        5 year total porfolio gain/loss: {{avg}}%
        <form action="/dashboard/" method="post">
            {% csrf_token %}
            Initial Investment: <input type="number" name="initial_investment">
            <input type="submit" value="Calculate!">
        </form>
            {% if initial_investment %}
                <p>Your initial investment of ${{initial_investment}} over this time period would return: ${{ fiveyearreturn }}</p>
            {% endif %}
        {% endif %}
    </body>
</html>
