<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Chrimata Welcome</title>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body id="background">
        <h1>Welcome to Chrimata</h1>

        <p>Our mission is to demystify financial markets and investments in order to empower the everyday investor.  We have created and decrypted high level analysis normall only available to professionals.</p>
        <p>Here at Chrimata we are leveling the playing field.  Knowledge is power.  And now power belongs to all</p>
        <p>Continue on and gain knowledge on any market or instrument that you desire</p>
        <button><a href="/index">Unlock Your Potential</a></button>
    </body>
</html>
