<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src='http://code.jquery.com/jquery-1.10.2.min.js'></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var data_arr = [['Year','Gold Price']];
            $.get("https://www.quandl.com/api/v3/datasets/WGC/GOLD_DAILY_USD.json?api_key=VzZzw2s9FYGh3ampr5mg", function(res){
                var arr = res.dataset['data'];
                for (var i=0; i<7200; i+= 261){
                    // x = res.dataset['data'][i][0];
                    y = res.dataset['data'][i][1];
                    x = "";
                    for (var j=0; j<4; j++){

                        x += res.dataset['data'][i][0][j];
                    }
                    z = parseInt(x)
                    console.log(z)
                    data_arr.push([x,y]); //push x for year as string, push z for year as integer
                }
                console.log(res.dataset['data'][0][0], "data array", data_arr);
                var html_str="";
                html_str += "<h2>" + res.dataset['name'] + "</h2>"
                for (var i=0; i<11; i++){
                    html_str += "<p>Daily Closing Price: $" + res.dataset['data'][i][1] + "</p><p>As of: " + res.dataset['data'][i][0] + "</p><hr>"
                }
                html_str += "<p>Last updated at: " + res.dataset['refreshed_at'] + "</p>";
                $('#info').html(html_str);
            }, 'json');

            // return false;


            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable(data_arr);

                var options = {
                  title: "Historical Price of Gold (as of today's approximate date of each year shown)",
                  curveType: 'function',
                  legend: { position: 'bottom' }
                };

                var chart = new google.visualization.LineChart(document.getElementById('curve_chart2'));

                chart.draw(data, options);
              }
          });
    </script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Gold Price'],
          ['1989',  412.4],
          ['1992',  337.0],
          ['1995',  387.6],
          ['1998',  291.6],
          ['2001',  276.1],
          ['2004',  442.5],
          ['2007',  795.25],
          ['2010',  1380.0],
          ['2013', 1195.3],
          ['2016', 1125.70],
        ]);

        var options = {
          title: "Historical Price of Gold (as of today's approximate date of each year shown)",
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
      <div id="info"></div>
      <div id="curve_chart" style="width: 900px; height: 500px"></div>
      <div id="curve_chart2" style="width: 900px; height: 500px"></div>
  </body>
</html>