<!DOCTYPE html>
<html>
<head>
	<title>Real Estate</title>
</head>
<body>
<h1>Real Estate</h1>
<p>Real estate is "property consisting of land and the buildings on it, along with its natural resources such as crops, minerals or water; immovable property of this nature; an interest vested in this (also) an item of real property, (more generally) buildings or housing in general. Also: the business of real estate; the profession of buying, selling, or renting land, buildings or housing.</p>

<h2> San Francisco Average Home Price: $1,116,300</h2>
<h2> Los Angeles Average Home Price: $597,100</h2>
<h2> Japan Average Home Price: $247,120</h2>
<h2>Britain Average Home Price
<img src='http://2.bp.blogspot.com/-qO_ZuC5hNP8/VCrpuA9JDBI/AAAAAAAAgvc/O5q0CUxyEnc/s1600/HPNominalJuly2014.PNG'/>
</body>
</html>
