<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Super Secret Form</title>
    </head>
    <body>
        <form action="/add_investment" method="post">
            {% csrf_token %}
            <p>investment_name: <input type="text" name="investment_name"></p>
            <p>investment_info: <input type="text" name="investment_info"></p>
            <p>total_gain_loss: <input type="text" name="total_gain_loss"></p>
            <p>total_volatility: <input type="text" name="total_volatility"></p>
            <p>min_investment: <input type="text" name="min_investment"></p>
            <p><input type="submit" value="Add Investment"></p>
        </form>
        {% for i in investments_list %}
            <p>{{i.investment_name}} {{ i.investment_info}}</p>
            <p>{{ i.total_gain_loss}}</p>
            <p>{{ i.total_volatility}}</p>
            <p>{{ i.min_investment}}</p>
        {% endfor %}
    </body>
</html>
